html {
    font-size: 16px;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.topnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 6.95rem;
    background-color: #1c2143;
    font-size: 2rem;
}

.topnav a {
    text-decoration: none;
    color:white;
    
}

.navlogo {
    height:100%;
}

.circle {
      border-radius: 50%;
}